<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <div ng-if="blade.hasData">
                <div class="sub-t">{{ 'avaTax.blades.order-synchronization-status.labels.last-sync-date' | translate }}</div>
                <div class="form-input __calendar">
                    <input ng-value="blade.formatLastSynchronizationDate()" disabled="disabled">
                    <button type="button" class="btn" disabled="disabled">
                        <i class="btn-ico fa fa-calendar"></i>
                    </button>
                </div>
                <div ng-if="blade.currentEntity.linkToAvaTax">
                    <div class="sub-t">{{ 'avaTax.blades.order-synchronization-status.labels.transaction-in-avatax' | translate }}</div>
                    <div>{{ 'avaTax.blades.order-synchronization-status.labels.link-to-transaction' | translate }} <a ng-href="{{blade.currentEntity.linkToAvaTax}}">#{{blade.currentEntity.transactionId}}</a></div>
                </div>
                <div class="sub-t">{{ 'avaTax.blades.order-synchronization-status.labels.raw-transaction-content' | translate }}</div>
                <pre>{{blade.currentEntity.rawContent}}</pre>
            </div>

            <div class="note" ng-if="!blade.hasData">{{ 'avaTax.blades.order-synchronization-status.labels.not-sent-to-avatax' | translate }}</div>
        </div>
    </div>
</div>
